<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<title>BCEWEB: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    {%  block head %}{% endblock %}
</head>
<body>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
    <p>
        <a href="{{ url_for('bceweb.index') }}">
            <img class="svg button" alt="Home" src="{{ url_for('static', filename='svg/home.svg') }}"/>
        </a>
        <a href="{{ url_for('bceweb.src_years') }}">
            <img class="svg button" alt="Years" src="{{ url_for('static', filename='svg/calendar.svg') }}"/>
        </a>
        <a href="{{ url_for('bceweb.src_bk_list') }}">
            <img class="svg button" alt="Blocks" src="{{ url_for('static', filename='svg/sitemap.svg') }}"/>
        </a>
        <a href="{{ url_for('bceweb.q_index') }}">
            <img class="svg button" alt="Queries" src="{{ url_for('static', filename='svg/calculator.svg') }}"/>
        </a>
        <a href="{{ url_for('bceweb.info') }}">
            <img class="svg button" alt="Info" src="{{ url_for('static', filename='svg/info.svg') }}"/>
        </a>
    </p>
    {% block body %}{% endblock %}
</body>
</html>
