{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Info </h1>
    <table>
        <tr> <th> BK max: </th> <td> {{ data.bk_id_max }} ({{ data.bk_datime_max }}) </td> </tr>
        <tr> <th> Stat_BK max: </th> <td> {{ data.stat_bk_max }} </td> </tr>
        <tr> <th> Stat_Date max: </th> <td> {{ data.stat_date_max }} </td> </tr>
        <tr> <th> Tail: </th> <td> {{ data.tail_date_min }}&hellip;{{ data.tail_date_max }} </td> </tr>
    </table>
{% endblock %}
