{% extends "base.html" %}
{% block title %} Query: {{ title }} {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Query: </h1>
    <h2> {{ title }} </h2>
    <form action="" method="post" novalidate="">
		{{ form.csrf_token() }}
		<table> <tr>
        {% for field in form if field.name != "csrf_token" %}
            <th valign="top">{{ field.label() }}</th>
            <td>
                <p>{{ field }}</p>
                {% for error in field.errors %}
                    {{ error }}<br/>
                {% endfor %}
            </td>
		{% endfor %}
            <td><input id="submit" name="submit" type="submit" value="Go"></td>
        </tr></table>
	</form>
    {% if data %}
        <table border="1">
        <caption>
            Query complete: {{ dtime }}
            <a href="{{ url_for('bceweb.get_xl', xl_id=xl_id) }}">
                <button type="button" title="Export to XLSX">
                    <img class="svg" src="{{ url_for('static', filename='svg/file-excel-o.svg') }}"/>
                </button>
            </a>
        </caption>
        <thead><tr>{% for h in head %}<th> {{ h }} </th>{% endfor %}</tr></thead>
        <tbody>
        {% for rec in data %}
            <tr>
            {% for cell in rec %}
                <td class="right"> {% if cell is not none %} {{ cell }} {% endif %} </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}
