{% extends "base.html" %}
{% block title %} Query: {{ title }} {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Query: </h1>
    <h2> {{ title }} </h2>
    <form action="" method="post" novalidate="">
		{{ form.csrf_token() }}
		<table> <tr>
        {% for field in form if field.name != "csrf_token" %}
            <th>{{ field.label() }}</th>
            <td>
                <p>{{ field }}</p>
                {% for error in field.errors %}
                    {{ error }}<br/>
                {% endfor %}
            </td>
		{% endfor %}
            <td><input id="submit" name="submit" type="submit" value="Go"></td>
        </tr></table>
	</form>
    {% if data %}
        <table border="1">
        <caption>
            Query times: {{ times[0] }} &hellip; {{ times[1] }} &rArr; {{ times[1] - times[0] }}
            <a href="{{ url_for('bceweb.get_xl', xl_id=xl_id) }}">
                <button type="button" title="Export to XLSX">
                    <img class="svg" alt="xlsx" src="{{ url_for('static', filename='svg/file-excel-o.svg') }}"/>
                </button>
            </a>
        </caption>
        <thead><tr>{% for h in head %}<th> {{ h }} </th>{% endfor %}</tr></thead>
        <tbody>
        {% for rec in data %}
            <tr>
                <td class="right"> <a href="{{ url_for('bceweb.src_addr', aid=rec[0]) }}"> {{ rec[0] }} </a> </td>
                <td>
                    {{ rec[1] }}
                    <a href="https://www.blockchain.com/btc/address/{{ rec[1] }}" target="_blank" rel="noopener noreferrer">
                    <img alt="blockchain.com" src="{{ url_for('static', filename='bmp/blockchain.com-16x16.png') }}"/>
                </a>
                </td>
            {% for cell in rec[2:] %}
                <td class="right"> {% if cell is not none %} {{ cell|sa2btc }} {% endif %} </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}
