{% extends "base.html" %}
{% block title %} Queries {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<h1> Queries (direct) </h1>
<ol>
    <li> <a href="{{ url_for('bceweb.q_addr_btc_max_tx') }}"> Топ N адресов &uarr;&#8383; за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_btc_min_tx') }}"> Топ N адресов &darr;&#8383; за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_cnt_max_tx') }}"> Топ N адресов &uarr;% за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_cnt_min_tx') }}"> Топ N адресов &darr;% за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_gt_tx') }}"> Адреса с балансом > ₿ на дату </a> </li>
</ol>
{% endblock %}
