{% extends "base.html" %}
{% block title %} Queries {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<h1> Queries: </h1>
<h2> = cached (<tt>tail</tt>) = </h2>
<ol>
    <li> <a href="{{ url_for('bceweb.q_addr_btc_max_tx') }}?tail"> Топ N адресов &uarr;&#8383; за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_btc_min_tx') }}?tail"> Топ N адресов &darr;&#8383; за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_cnt_max_tx') }}?tail"> Топ N адресов &uarr;% за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_cnt_min_tx') }}?tail"> Топ N адресов &darr;% за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_gt_tx') }}?tail"> Адреса с балансом > ₿ на дату </a> </li>
</ol>
<h2> = direct (<tt>vout</tt>) = </h2>
<ol>
    <li> <a href="{{ url_for('bceweb.q_addr_btc_max_tx') }}"> Топ N адресов &uarr;&#8383; за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_btc_min_tx') }}"> Топ N адресов &darr;&#8383; за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_cnt_max_tx') }}"> Топ N адресов &uarr;% за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_cnt_min_tx') }}"> Топ N адресов &darr;% за период </a> </li>
    <li> <a href="{{ url_for('bceweb.q_addr_gt_tx') }}"> Адреса с балансом > ₿ на дату </a> </li>
</ol>
<h2> = Q1A = </h2>
<ol>
    <li> <a href="{{ url_for('bceweb.q1a_table') }}"> Таблица </a> </li>
    <li> <a href="{{ url_for('bceweb.q1a_2d_date') }}"> 2D date &times; value </a> </li>
    <li> <a href="{{ url_for('bceweb.q1a_2d_rid') }}"> 2D rid &times; value </a> </li>
</ol>
<h2> = etc = </h2>
<ul>
    <li> <a href="{{ url_for('bceweb.q2606') }}"> Q_220606 </a></li>
</ul>
{% endblock %}
