{% extends "base.html" %}
{% block title %} Block {{ block.id }}: Info {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h3>
        <a href="{{ url_for('bceweb.src_year', y=block.datime.year) }}">{{ block.datime.year }}</a>-<a href="{{ url_for('bceweb.src_month', y=block.datime.year, m=block.datime.month) }}">{{ "%02d" | format(block.datime.month) }}</a>-<a href="{{ url_for('bceweb.src_date', y=block.datime.year, m=block.datime.month, d=block.datime.day) }}">{{ "%02d" | format(block.datime.day) }}</a>
        {{ block.datime.time().isoformat() }}
    </h3>
    <h1>
        Block:
        {% if block.id > 0 %}
            <a href="{{ url_for('bceweb.src_bk', bk=0) }}"> <img class="svg button" alt="Start" src="{{ url_for('static', filename='svg/fast-backward.svg') }}"/> </a>
            <a href="{{ url_for('bceweb.src_bk', bk=block.id - 1) }}"> <img class="svg button" alt="Start" src="{{ url_for('static', filename='svg/step-backward.svg') }}"/> </a>
        {% else %}
            <img class="svg" alt="Start" src="{{ url_for('static', filename='svg/fast-backward.svg') }}"/>
            <img class="svg" alt="Start" src="{{ url_for('static', filename='svg/step-backward.svg') }}"/>
        {% endif %}
        {{ block.id }}
        <a href="https://www.blockchain.com/btc/block/{{ block.id }}" target="_blank" rel="noopener noreferrer">
            <img alt="blockchain.com" src="{{ url_for('static', filename='bmp/blockchain.com-16x16.png') }}"/>
        </a>
        {% if block.id < bk_max %}
            <a href="{{ url_for('bceweb.src_bk', bk=block.id+1) }}"> <img class="svg button" alt="Start" src="{{ url_for('static', filename='svg/step-forward.svg') }}"/> </a>
            <a href="{{ url_for('bceweb.src_bk', bk=bk_max) }}"> <img class="svg button" alt="Start" src="{{ url_for('static', filename='svg/fast-forward.svg') }}"/> </a>
        {% else %}
            <img class="svg" alt="Start" src="{{ url_for('static', filename='svg/step-forward.svg') }}"/>
            <img class="svg" alt="Start" src="{{ url_for('static', filename='svg/fast-forward.svg') }}"/>
        {% endif %}
    /<sub>{{ bk_max }}</sub> </h1>
    <h2> Info (<a href="{{ url_for('bceweb.src_bk_txs', bk=block.id) }}">TXs</a>) </h2>
    {% if block.tx_num is none %}
    <h2> Stat n/a </h2>
    {% else %}
    <table class="thick">
        <thead>
            <tr>
                <th> Attribute </th>
                <th> # </th>
                <th> &#8383; </th>
            </tr>
        </thead>
    <tbody>
        <tr>
            <th> Tx: </th>
            <td class="right"> {{ block.tx_num }} </td>
            <td/>
        </tr>
        <tr>
            <th> So </th>
            <td class="right"> {{ block.so_num }} </td>
            <td class="right"> {{ block.so_sum|sa2btc }} </td>
        </tr>
        <tr>
            <th> Lo </th>
            <td class="right"> {{ block.lo_num }} </td>
            <td class="right"> {{ block.lo_sum|sa2btc }} </td>
        </tr>
        <tr>
            <th> Uo </th>
            <td class="right"> {{ block.uo_num }} </td>
            <td class="right"> {{ block.uo_sum|sa2btc }} </td>
        </tr>
        <tr>
            <th> &Delta; </th>
            <td/>
            <td class="right"> {{ (block.uo_sum - block.so_sum)|sa2btc }} </td>
        </tr>
    <!-- +_inc -->
        <tr> <th colspan="3"> &sum;: </th> </tr>
        <tr>
            <th> Tx: </th>
            <td class="right"> {{ block.tx_num_inc }} </td>
            <td/>
        </tr>
        <tr>
            <th> So </th>
            <td class="right"> {{ block.so_num_inc }} </td>
            <td class="right"> {{ block.so_sum_inc|sa2btc }} </td>
        </tr>
        <tr>
            <th> Lo </th>
            <td class="right"> {{ block.lo_num_inc }} </td>
            <td class="right"> {{ block.lo_sum_inc|sa2btc }} </td>
        </tr>
        <tr>
            <th> Uo </th>
            <td class="right"> {{ block.uo_num_inc }} </td>
            <td class="right"> {{ block.uo_sum_inc|sa2btc }} </td>
        </tr>
    <!-- checks -->
        <tr> <th colspan="3"> Check </th></tr>
        <tr>
            <th title="u+l"> TxO </th>
            <td class="right"> {{ block.uo_num_inc + block.lo_num_inc }}
            <td class="right"> {{ (block.uo_sum_inc + block.lo_sum_inc)|sa2btc }} </td>
        </tr>
        <tr>
            <th title="s+l"> STxO </th>
            <td class="right"> {{ block.so_num_inc + block.lo_num_inc }}
            <td class="right"> {{ (block.so_sum_inc + block.lo_sum_inc)|sa2btc }} </td>
        </tr>
        <tr>
            <th title="u-s"> UTxO </th>
            <td class="right"> {{ block.uo_num_inc - block.so_num_inc }}
            <td class="right"> {{ (block.uo_sum_inc - block.so_sum_inc)|sa2btc }} </td>
        </tr>
        <tr>
            <th> Must </th>
            <td/>
            <td class="right"> {{ mustb|sa2btc }} </td>
        </tr>
        <tr>
            <th> &Delta; </th>
            <td/>
            <td class="right"> {{ (mustb - (block.uo_sum_inc - block.so_sum_inc))|sa2btc }} </td>
        </tr>
    </tbody>
    </table>
    {% endif %}
{% endblock %}
