{% extends "base.html" %}
{% block title %} Src blocks {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Src dates </h1>
    <p>
        <button type="button"> {% if pager[0] > 1 %} <a href="?page=1"> &larrb; </a> {% else %} &larrb; {% endif %} </button>
        <button type="button"> {% if pager[0] > 1 %} <a href="?page={{ pager[0] - 1 }}"> &larr; {% else %} &larr; {% endif %} </a> </button>
        Page {{ pager[0] }} / {{ pager[1] }}
        <button type="button"> {% if pager[0] < pager[1] %} <a href="?page={{ pager[0] + 1 }}"> &rarr; </a> {% else %} &rarr; {% endif %} </button>
        <button type="button"> {% if pager[0] < pager[1] %} <a href="?page={{ pager[1] }}"> &rarrb; </a> {% else %} &rarrb; {% endif %} </button>
    </p>
    <table border="1">
    <col/><col align="right"/>
    <thead><tr><th> Block </th><th> DateTime </th><th>TXs</th></tr></thead>
    {% for rec in data %}
        <tr>
            <td> {{ rec[0] }} </td>
            <td> {{ rec[1] }} </td>
            <td> {{ rec[2] }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
