{% extends "base.html" %}
{% block title %} Month {{ data.year }}-{{ "%02d" | format(data.month) }} {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    {% for y in range(2009, data.max_year + 1) %}
        <a href="{{ url_for('bceweb.src_year', y=y) }}"> {{ y }} </a>
    {% endfor %}
    <h1>
        <button type="button"> {% if data.month > 1 %} <a href="{{ url_for('bceweb.src_month', y=data.year, m=1) }}"> &larrb; </a> {% else %} &larrb; {% endif %} </button>
        <button type="button"> {% if data.month > 1 %} <a href="{{ url_for('bceweb.src_month', y=data.year, m=data.month - 1) }}"> &larr; {% else %} &larr; {% endif %} </a> </button>
        Month <a href="{{ url_for('bceweb.src_year', y=data.year) }}">{{ data.year }}</a>-{{ "%02d" | format(data.month) }}
        <button type="button"> {% if data.month < data.max_month %} <a href="{{ url_for('bceweb.src_month', y=data.year, m=data.month + 1) }}"> &rarr; </a> {% else %} &rarr; {% endif %} </button>
        <button type="button"> {% if data.month < data.max_month %} <a href="{{ url_for('bceweb.src_month', y=data.year, m=data.max_month) }}"> &rarrb; </a> {% else %} &rarrb; {% endif %} </button>
    </h1>
    <table class="thick">
    <tr>
        <th rowspan="2"> Date </th>
        <th rowspan="2"> Blocks </th>
        <th colspan="3"> # </th>
        <th colspan="3"> &#8383; </th>
    </tr>
    <tr>
        <th> So </th>
        <th> Lo </th>
        <th> Uo </th>
        <th> <img class="svg" title="STXO" alt="Download" src="{{ url_for('static', filename='svg/download.svg') }}"/> </th>
        <th> <img class="svg" title="Local STXO" alt="Recycle" src="{{ url_for('static', filename='svg/recycle.svg') }}"/> </th>
        <th> <img class="svg" title="UTXO" alt="Upload" src="{{ url_for('static', filename='svg/upload.svg') }}"/> </th>
    </tr>
    {% for rec in data.dates %}
        <tr>
            <td> <a href="{{ url_for('bceweb.src_date', y=rec.date.year, m=rec.date.month, d=rec.date.day) }}"> {{ rec.date }} </a> </td>
            <td class="right"> {{ rec.bk_num }} </td>
            <td class="right"> {{ rec.so_num|intorna }} </td>
            <td class="right"> {{ rec.lo_num|intorna }} </td>
            <td class="right"> {{ rec.uo_num|intorna }} </td>
            <td class="right"> {{ rec.so_sum|sa2btc }} </td>
            <td class="right"> {{ rec.lo_sum|sa2btc }} </td>
            <td class="right"> {{ rec.uo_sum|sa2btc }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
