{% extends "base.html" %}
{% block title %} Src TXs {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Src TXs </h1>
    {% include 'pager.html' %}
    <table border="1">
    <col/><col align="right"/><col align="right"/><col align="right"/><col align="right"/><col align="right"/>
    <thead><tr><th> ID </th><th> Block </th><th> Hash </th><th> Vins </th><th> Vouts </th><th> Sat. </th></tr></thead>
    {% for rec in data %}
        <tr>
            <td> {{ rec[0] }} </td>
            <td> {{ rec[1] }} </td>
            <td> {{ rec[2] }} </td>
            <td> <a href="{{ url_for('bceweb.src_vins', tx=rec[0]) }}"> {{ rec[3] }} </a> </td>
            <td> <a href="{{ url_for('bceweb.src_vouts', tx=rec[0]) }}"> {{ rec[4] }} </a> </td>
            <td> {{ rec[5] }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
