{% extends "base.html" %}
{% block title %} Year {{ data.year }} {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <p>
    {% for y in range(2009, data.max_year + 1) %}
        <a class="button mono" href="{{ url_for('bceweb.src_year', y=y) }}">{{ y }}</a>
    {% endfor %}
    </p>
    <h1> Year {{ data.year }} </h1>
    <table class="thick">
    {% for m in data.months %}
        {% set mon = loop.index %}
        <tr><th><a class="mono" href="{{ url_for('bceweb.src_month', y=data.year, m=mon) }}">{{ "%02d" | format(mon) }}</a></th>
        {% for d in m %}
            <td>
                {% if d %}
                    <a class="mono" href="{{ url_for('bceweb.src_date', y=data.year, m=mon, d=d) }}"> {{ "%02d" | format(d) }} </a>
                {% else %} -
                {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
