{% extends "base.html" %}
{% block title %} Block TXs {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Block TXs </h1>
    <p>
        Block # {{ block[0] }} (<a href="{{ url_for('bceweb.src_bks', d=block[1].date().isoformat()) }}"> {{ block[1] }})
        <a href="https://www.blockchain.com/btc/block/{{ block[0] }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='bmp/blockchain.com-16x16.png') }}"/>
        </a>
    </p>
    {% include 'pager.html' %}
    <table border="1">
    <colgroup><col/><col align="right"/><col align="right"/><col align="right"/><col align="right"/></colgroup>
    <thead><tr><th> ID </th><th> Hash </th><th> Vins </th><th> Vouts </th><th> &#8383; </th><th> satoshi </th></tr></thead>
    <tbody>
    {% for rec in data %}
        <tr>
            <td class="right"> {{ rec[0] }} </td>
            <td> {{ rec[2] }}
                <a href="https://www.blockchain.com/btc/tx/{{ rec[2] }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='bmp/blockchain.com-16x16.png') }}"/>
                </a>
            </td>
            <td class="right"> {% if rec[3] %} <a href="{{ url_for('bceweb.src_vins', tx=rec[0]) }}"> {{ rec[3] }} </a> {% else %} {{ rec[3] }} {% endif %}</td>
            <td class="right"> <a href="{{ url_for('bceweb.src_vouts', tx=rec[0]) }}"> {{ rec[4] }} </a> </td>
            <td class="right"> {{ "%.8f"|format(rec[5]/100000000) }} </td>
            <td class="right"> {{ rec[5] }} </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
