{% extends "base.html" %}
{% block title %} Addr moves {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Addr moves </h1>
    <p>
        Addr # {{ addr.id }} ({{ addr.name }}, {{ addr.qty }})
        <a href="https://www.blockchain.com/btc/address/{{ addr.name }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='bmp/blockchain.com-16x16.png') }}"/>
        </a>
    </p>
    <p> &#8383;: {% if addr.money %} {{ "%.8f"|format(addr.money/100000000) }} ({{ addr.money }} sat.) {% else %} &empty; {% endif %} </p>
    {% include 'pager.html' %}
    <table border="1">
    <thead><tr><th> t_id </th><th> n </th><th> t_id_in </th><th> &#8383; </th></tr></thead>
    {% for rec in data %}
        <tr>
            <td class="right"> <a href="{{ url_for('bceweb.src_vouts', tx=rec.t_id) }}"> {{ rec.t_id }} </a> </td>
            <td class="right"> {{ rec.n }} </td>
            <td class="right"> {% if rec.t_id_in %}  <a href="{{ url_for('bceweb.src_vins', tx=rec.t_id_in) }}"> {{ rec.t_id_in }} </a> {% endif %} </td>
            <td class="right"> {{ rec.money|sa2btc }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
