{% extends "base.html" %}
{% block title %} Src dates {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1>
        Dates
        (<a href="{{ url_for('bceweb.src_bk_list') }}"> blocks </a>)
    </h1>
    {% include 'pager.html' %}
    <table class="thick">
    <thead><tr><th> Date </th><th> Blocks </th></tr></thead>
    {% for rec in data %}
        <tr>
            <td> <a href="{{ url_for('bceweb.src_date_bks', d=rec.date) }}"> {{ rec.date }} </a> </td>
            <td class="right"> {{ rec.num }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
