{% extends "base.html" %}
{% block title %} Addr moves {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Addr moves </h1>
    <p> Addr # {{ addr[0] }} ({{ addr[1] }}, {{ addr[2] }}), {{ addr[3] }} sat. </p>
    {% include 'pager.html' %}
    <table border="1">
    <col/><col align="right"/><col align="right"/><col align="right"/><col align="right"/><col align="right"/>
    <thead><tr><th> t_id </th><th> n </th><th> t_id_in </th><th> Money </th></tr></thead>
    {% for rec in data %}
        <tr>
            <td class="right"> {{ rec[0] }} </td>
            <td class="right"> {{ rec[1] }} </td>
            <td class="right"> {% if rec[2] %} {{ rec[2] }} {% endif %} </td>
            <td class="right"> {{ rec[3] }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
