{% extends "base.html" %}
{% block title %} Src dates {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Src dates </h1>
    <p>
        <a href="?page=1"> &larrb; </a>
        <a href="?page={{ pager[0] - 1 }}"> &larr; </a>
        Page {{ pager[0] }} / {{ pager[1] }}
        <a href="?page={{ pager[0] + 1 }}"> &rarr; </a>
        <a href="?page={{ pager[1] }}"> &rarrb; </a>
    </p>
    <table border="1">
    <col/><col align="right"/>
    <thead><tr><th>Date</th><th> Blocks </th></tr></thead>
    {% for rec in data %}
        <tr>
            <td>{{ rec[0] }}</td>
            <td>{{ rec[1] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
