{% extends "base.html" %}
{% block title %} Date blocks {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Blocks on {{ date }} </h1>
    {% include 'pager.html' %}
    <table border="1">
    <col/><col align="right"/>
    <thead><tr><th> Block </th><th> DateTime </th><th> TXs </th></tr></thead>
    {% for rec in data %}
        <tr>
            <td> <a href="{{ url_for('bceweb.src_txs', bk=rec[0]) }}"> {{ rec[0] }} </a> </td>
            <td> {{ rec[1] }} </td>
            <td> {{ rec[2] }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
