{% extends "base.html" %}
{% block title %} Src dates {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1> Src dates </h1>
    {% include 'pager.html' %}
    <table border="1">
    <col/><col align="right"/>
    <thead><tr><th> Date </th><th> Blocks </th></tr></thead>
    {% for rec in data %}
        <tr>
            <td><a href="{{ url_for('bceweb.src_bks', d=rec[0]) }}"> {{ rec[0] }} </a> </td>
            <td>{{ rec[1] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
